.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

header {
  background: black;
  color: white;
  font-size: 50px;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url("./images/basketball.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;


}

img {
  width: 30%;
  height: 30%;
  border-radius: 8px;
}

video {
  width: 30%;
  height: 30%;
  min-width: 30%;
  border-radius: 8px;
}

Button {
  font-size: 80%;
  margin: 20px;
}
Input {
  width: 40%;
  height: 70%;
}
.form-group {
  background-color: white;
  height: 200px;
  width: 50%;

  margin:auto;
  background-position: center;
  border-radius: 8px;
}

.questions {
  font-size: 30px;
}
