.App {
  text-align: center;
}

header {
  background: black;
  color: white;
  font-size: 50px;
}

body {
  background-image: url("./images/basketball.jpg");
  background-position: center;
  background-size: cover%;
  height: 200px;


}

img {
  width: 30%;
  height: 30%;
  border-radius: 8px;
}

video {
  width: 30%;
  height: 30%;
  min-width: 30%;
  border-radius: 8px;
}

Button {
  font-size: 80%;
  margin: 20px;
}
Input {
  width: 40%;
  height: 70%;
}

.navbar-brand {
  color: white;
}

Nav.Link{
  color: white;
}
.form-group {
  background-color: white;
  height: 200px;
  width: 50%;

  margin:auto;
  background-position: center;
  border-radius: 8px;
}

.questions {
  font-size: 30px;
}
